.titleCell {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    font-weight: normal;
}

table.dataTable {
    width: auto;
}

th.cell,
td.cell {
    height: auto;
    min-height: 45px;
    padding-top: 14px;
    padding-bottom: 14px;
}

th.cell :global(.top) {
    height: auto;
}

.labelCellContent,
.labelCellContent {
    display: block;
    max-width: 480px;
}
