.display {
    min-height: 360px;
    padding: var(--spacers-dp12) var(--spacers-dp8);
    background: white;
    box-shadow: rgb(213, 221, 229) 0px -1px 0px 0px inset;
}

.chooseDataSet {
    composes: display;
    padding: 40px var(--spacers-dp16) 0;
}

.chooseDataSet h2 {
    margin-top: 0;
    margin-bottom: var(--spacers-dp8);
    font-size: 20px;
    font-weight: normal;
}

.chooseDataSet p {
    margin: 0;
    color: var(--colors-grey700);
    font-size: 14px;
}

.loadingWrapper {
    margin-top: var(--spacers-dp24);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colors-grey700);
}

.noData {
    composes: display;
    padding-top: var(--spacers-dp24);
}

.noData p {
    margin: 0;
    text-align: center;
    color: var(--colors-grey700);
}

.retryButton {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
}
