.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: var(--spacers-dp8) var(--spacers-dp16);
    padding: var(--spacers-dp8);
}

.label {
    display: flex;
    font-size: 13px;
    line-height: 16px;
}
