.popoverContainer {
    display: grid;
    width: 400px;
}

.filterField {
    padding: var(--spacers-dp8);
    padding-bottom: var(--spacers-dp4);
}
/* Override InputField styles by hiding status icon wrapper */
.filterField :global(.status-icon) {
    display: none;
}

.scrollbox {
    min-height: 400px;
    /* Subtract height of filter field and icons legend */
    max-height: calc(80vh - 50px - 60px);
    overflow-y: auto;
    padding-top: var(--spacers-dp8);
}

/*
 * Override default checked styles of organisation unit tree, which
 * offer limited contrast against status icon colours
 */
.scrollbox :global(.checked) {
    background: var(--colors-grey300) !important;
    color: var(--colors-grey900) !important;
}
